transformers==4.34.0  # For use GPT-2 
torch==2.0.1          # For PyTorch, required as the backend for transformers
whoosh==2.7.4         # Search engine library for indexing and retrieving text from documents